.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background: $dark-grey;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  // width: 450px;
  width: 563px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  transition: color 1s ease;

  &:hover {
    color: darken($color: #fff, $amount: 20);
  }
}

.journal__entries {
  width: 500px;
  flex: 1 1 auto;
  margin-top: 30px;
  overflow-y: scroll;
}

.journal__entry {
  background: #fff;
  border-radius: 4px;
  color: $dark-grey;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}

.journal_entry-pictures {
  height: 75px;
  width: 75px;
  background-size:cover;
  background: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/4b/cd/6e/cuando-la-marea-es-baja.jpg?w=1200&h=1200&s=1);
  background-position: center;
  background-repeat: no-repeat;
}

.journal__entry-body {
  padding: 10px;
}
.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}
.journal__entry-content {
  font-size: 10px;
}

.journal__entry-date-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.journal__entry-date-box > span {
  font-size: 12px;
}

.cursor {
  cursor: pointer;
}

.false_text {
  text-decoration: line-through;
  font-size: 14px;
}

.true_text {
  color: darken($color: #fff, $amount: 40);
 font-size: 14px;
}


.change {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button_state {
  width: 80px;
  background: $button-active-blue;
  color:$white;
  padding: 5px 5px;
  border: none;
}

.button_state2 {
  width: 80px;
  background: darken($color: #fff, $amount: 40);
  color:#ccc;
  padding: 5px 5px;
  border: none;
}

