
.leaflet-container {
    width: 100vw;
    height: 100vh;
}

.link_text {
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    &:hover{
       color: rgb(0, 229, 255);
       font-size: 18px;
    }
}